{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block content %}
<div class="container mt-5">
    <h2>KAYIT OL</h2>
    <form method="POST" action="{{ url_for('auth_routes.register') }}">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.username.label(class="form-label") }}
            {{ form.username(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.email.label(class="form-label") }}
            {{ form.email(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.password.label(class="form-label") }}
            {{ form.password(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.confirm_password.label(class="form-label") }}
            {{ form.confirm_password(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.address.label(class="form-label") }}
            {{ form.address(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.phone.label(class="form-label") }}
            {{ form.phone(class="form-control") }}
        </div>
        <button type="submit" class="btn btn-primary">KAYIT OL</button>
    </form>
</div>
{% endblock %}
